<h1>Enter a dollar amount!</h1>
<form action='/results' method='get'>
  <div class="form-group">
    <label for="monies">Monies</label>
    <input id="monies" name="monies" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Give me change!</button>
</form>
